# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

** Objectives:**
- Introduce common languages used in Data Science.
- Create Markdown cells in Jupyter Notebook.
- List commonly used Data Science libraries.
- Demonstrate arithmetic expressions in Python.
- Explore code cells for performing calculations.

# Some of the popular languages that Data Scientists use are:

1.Python
2.R
3.Java

# Some of the commonly used libraries used by Data Scientists include:

1.NumPy
2.Pandas
3.scikit-learn
4.TensorFlow
5.Matplotlib

| Data Science Tools  |
|---------------------|
|Jupyter Notebook     |
|R Studious           |
|VsCode with Python   |

### Arithmetic Expression Examples in Python

Below are a few examples of evaluating arithmetic expressions in Python:

In [5]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

hours = 200/60
hours

3.3333333333333335

## Author
Lakshmi Holla